# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment variables
.env

# Data
data/raw/*
data/processed/*
data/chroma/*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/